@page "/ManageEvents"
@layout EmptyLayout
@inject NavigationManager navMan;
@inherits EventsBase;

<div>
    <main class="container">
        <div class="row">
            <div class="col mt-3">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudItem xs="12" sm="6" md="4">
                                <MudField Label="Event Name" Variant="Variant.Text"></MudField>
                            </MudItem>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="images/background2.jpg" Height="200" />
                    <MudCardContent>
                        <MudItem xs="12" sm="6" md="4">
                            <MudField Label="Event Description" Variant="Variant.Text"></MudField>
                        </MudItem>
                        <MudItem xs="12" sm="6" md="4">
                            <MudField Label="Seats" Variant="Variant.Text"></MudField>
                        </MudItem>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" >Create Event </MudButton>
                        &nbsp;
                    </MudCardActions>
                </MudCard>
            </div>
        </div>

        <div class="row">
            @foreach (var eventItem in Events)
            {
                <div class="col mt-3">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h6">@eventItem.Name</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardMedia Image="images/background2.jpg" Height="200" />
                        <MudCardContent>
                            <MudText>@eventItem.Description</MudText>
                            <MudText Typo="Typo.body2">Booked seats @eventItem.Seats</MudText>
                            <MudText Typo="Typo.body2">Available seats </MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" >Delete Event</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" >Edit Event</MudButton>
                        </MudCardActions>
                    </MudCard>
                </div>
            }
        </div>
    </main>
</div>

@code {

}
